<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_registration/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'login_registration/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'login_registration/main.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form class="six columns" action="/users/create" method="POST">
                <div class="row">
                    <h1>Registration</h1>
                </div>
                {% csrf_token %}
                <div class="row">
                        <label for="">First Name: </label>
                        <input class="u-full-width" type="text" name="firstName">
                        <label for="">Last Name: </label>
                        <input class="u-full-width" type="text" name="lastName">
                </div>
                <div class="row">
                        <label for="">Email: </label>
                        <input class="u-full-width" type="text" name="email">
                </div>
                <div class="row">
                        <label for="">Password: </label>
                        <input class="u-full-width" type="password" name="password">
                        <label for="">Confirm Password: </label>
                        <input class="u-full-width" type="password" name="confirm_password">
                </div>

                <div class="row">
                    <input type="submit" value="Register">
                </div>
            </form>
            <div class="six columns">
            <h1>Log In</h1>
            <form action="/users/login" method="POST">
                {% csrf_token %}
                <div class="row">
                        <label for="">Email: </label>
                        <input class="u-full-width" type="email" name="email">
                </div>
                <div class="row">
                        <label for="">Password: </label>
                        <input class="u-full-width" type="password" name="password">
                </div>
                <div class="row">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
        </div>
        <div>
            {% if 'id' in request.session %}
                <h2>You are logged in: {{request.session.name}}</h2>
                <a href="/logout"><button>Log Out</button></a>
            {% endif %}
        </div>
    </div>  
</body>
</html>
